<div class="h2">
  Profit and Loss (Budget)
</div>
<p id="notice"><%= notice %></p>

<div class="p">
  Date Created <%= @profit_loss_statement.created_at.strftime("%B %e, %Y") %>
</div>
<br>

<div class="account-group">
  <div class="h1">
    Income streams
  </div>
  <br>
  <% @streams.each do |equity, streams| %>
    <article class="equity">
      <% streams.each do |income| %>
      <div class="figures p">
      <%= income.name %>: $<%= income.amount %> <i><%= "(estimate)" if income.estimate %></i>
      </div>
      <% end %>
    </article>
    <br>
  <% end %>
  <div class="h2">
    <hr>
    Total $<%= @total_streams %>
  </div>
</div>
<br>
<div class="account-group">
  <div class="h1">
    Expenses
  </div>
  <br>
  <% @expenses.each do |book, expenses| %>
    <article class="book">
      <div class='p'><b><%= book.name %></b></div>
      <% expenses.each do |exp| %>
      <div class="figures p  ">
      <%= exp.name %>: $<%= exp.budget %>
      </div>
      <% end %>
    </article>
    <br>
  <% end %>
  <div class="h2">
    <hr>
    Total $<%= @total_expenses %>
  </div>
</div>
<br>
<div class="account-group">
  <div class='h1'>
    Liabilities
  </div>
  <% @liabilities.each do |debt| %>
    <article class="book">
      <div class='p'><%= debt.nickname %></div>
      <div class="figures">
        Min. payment  $<%= debt.minimum_payment %>
      </div>
    </article>
    <br>
  <% end %>
  <div class="h2">
    <hr>
    Total: $<%= @total_liabilities %>
  </div>
</div>
<br>

<div class="account-group">
  <p>
    Total liabilities + expenses
  </p>
  <div class="h2">
    $<%= @total_outflow %>
  </div>
</div>
<hr>
<hr>
<div class="account-group">
  <div class='h1'>
    Net Profit
  </div>
  <div class="h2">
    $<%= @difference %> (<%= @padding %>%)
  </div>
  <p>
    Woo hoo! You have a projected monthly profit! This is above your 'padding number' you said you want to have of $10. Here are some things you can do...
  </p>
  <ul>
    <li>Buy a new shirt</li>
    <li>Pay down some liabilities</li>
    <li>Use this to start a new <%= link_to 'business', new_plan_path %></li>
    <li>Go out for all around guilt-free mexican dinner!</li>
  </ul>
</div>
