<p id="notice"><%= notice %></p>

<div class='h1'>Budget</div>
<div class="p">
  Date Created <%= @profit_loss_statement.created_at.strftime("%B %e, %Y") %>
</div>

<hr>

<div class="account-group">
  <div class="p">
    Income streams
  </div>
  <br>
  <% @streams.each do |equity, streams| %>
    <article class="equity">
      <% streams.each do |income| %>
      <div class="figures p">
      <%= income.name %>: $<%= income.amount %> <i><%= "(estimate)" if income.estimate %></i>
      </div>
      <% end %>
    </article>
    <br>
  <% end %>
  <div class="h2">
    <hr>
    Total $<%= @total_streams %>
  </div>
</div>
<br>
<div class="account-group">
  <div class="p">
    Expenses (categorized by book)
  </div>
  <br>
  <% @expenses.each do |book, expenses| %>
    <article class="book">
      <div class='p'><b><%= book.name %></b></div>
      <% expenses.each do |exp| %>
      <div class="figures p  ">
      <%= exp.name %>: $<%= exp.budget %>
      </div>
      <% end %>
    </article>
    <br>
  <% end %>
  <div class="h2">
    <hr>
    Total $<%= @total_expenses %>
  </div>
</div>
<br>
<div class="account-group">
  <div class='h2'>
    Liabilities
  </div>
  <% @liabilities.each do |debt| %>
    <article class="book">
      <div class='p'><%= debt.nickname %></div>
      <div class="figures">
        Min. payment  $<%= debt.minimum_payment %>
      </div>
    </article>
    <br>
  <% end %>
  <div class="h2">
    <hr>
    Total: $<%= @total_liabilities %>
  </div>
</div>
<hr>

<div class="account-group">
  <p>
    Total liabilities + expenses
  </p>
  <div class="h2">
    $<%= @total_outflow %>
  </div>
</div>
<hr>
<div class="account-group">
  <p>
    Difference (Income streams - liabilities & expenses)
  </p>
  <div class="h2">
    $<%= @difference %> (<%= @padding %>%)
  </div>
</div>
