<p id="notice"><%= notice %></p>

<div class='h1'>Budget</div>
<div class="p">
  Date Created <%= @profit_loss_statement.created_at.strftime("%B %e, %Y") %>
</div>
<div class="p">
  difference $<%= @difference %> (<%= @padding %>%)
</div>


<hr>

<div class="account-group">
  <div class="p">
    Income streams
  </div>
  <br>
  <% @streams.each do |equity, streams| %>
    <article class="equity">
      <div class='p'><%= equity.nickname %></div>
      <% streams.each do |income| %>
      <div class="figures h2">
      <%= income.name %>, $<%= income.amount %>
      </div>
      <% end %>
    </article>
    <br>
    <div class="p">
      Total $<%= @total_streams %>
    </div>
  <% end %>
</div>

<hr>

<div class="account-group">
  <div class="p">
    Expenses (categorized by book)
  </div>
  <br>
  <% @expenses.each do |book, expenses| %>
    <article class="book">
      <div class='p'><%= book.name %></div>
      <% expenses.each do |exp| %>
      <div class="figures h2  ">
      <%= exp.name %>, $<%= exp.budget %>
      </div>
      <% end %>
    </article>
    <br>
    <div class="p">
      Total $<%= @total_expenses %>
    </div>
  <% end %>
</div>
<hr>

<div class="account-group">
  <p>
    Liabilities
  </p>
  <% @liabilities.each do |debt| %>
    <article class="book">
      <div class='h2'><%= debt.nickname %></div>
      <div class="figures">
        Min. payment: <%= debt.minimum_payment %>
      </div>
    </article>
  <% end %>
  <div class="p">
    Total: $<%= @total_liabilities %>
  </div>
</div>

<hr>
<div class="p">
  Total liabilities + expenses: <%= @total_outflow %>
</div>
