<%= form_for(@liability) do |f| %>
  <% if @liability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liability.errors.count, "error") %> prohibited this liability from being saved:</h2>

      <ul>
      <% @liability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :starting_balance %><br>
    <%= f.text_field :starting_balance %>
  </div>
  <div class="field">
    <%= f.label :interest_rate %><br>
    <%= f.number_field :interest_rate %>
  </div>
  <div class="field">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :bank_name %><br>
    <%= f.text_field :bank_name %>
  </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :family_id, value: current_user.family_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
