<p id="notice"><%= notice %></p>

<section class='show'>
  <div class="tag">
    <%= link_to @liability.due_day %>
  </div>
  <div class='h1'><%= @liability.nickname %></div>
  <span class='edit-btn'><%= link_to 'edit', edit_liability_path(@liability) %></span>
  <p><%= @liability.current_balance %></p>
  <p><%= @liability.interest_rate %></p>
</section>

<div class="h2">
  Transaction history
</div>
