<p id="notice"><%= notice %></p>

<p>
  <strong>Starting balance:</strong>
  <%= @liability.starting_balance %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @liability.interest_rate %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @liability.nickname %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @liability.bank_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @liability.user_id %>
</p>

<p>
  <strong>Family:</strong>
  <%= @liability.family_id %>
</p>

<%= link_to 'Edit', edit_liability_path(@liability) %> |
<%= link_to 'Back', liabilities_path %>
