<%= form_for(@family) do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% @family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :passphrase %><br>
    <%= f.text_field :passphrase %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


 <%#= TODO link current_user to family with a nested model inside family creation, it also assigns family through :creator_id == current_user.id (who created the family) %>
