<div class='h1'>Money is funny</div>

<p>
  But not in a haha sort of way. So many different things to keep track of. Lettuce books is for people who run their home like a business which means we aim to turn "bookkeeping... ugh." into "bookkeeping ahh". :-)
</p>

<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
