<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stream.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @stream.amount %>
</p>

<p>
  <strong>Estimate:</strong>
  <%= @stream.estimate %>
</p>

<p>
  <strong>Auto allocate:</strong>
  <%= @stream.auto_allocate %>
</p>

<p>
  <strong>Equity:</strong>
  <%= @stream.equity_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @stream.user_id %>
</p>

<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
