<p id="notice"><%= notice %></p>

<div class='h1'>Balance Sheet</div>

<hr>


<div class="account-group">
  <div class='h2'>
    Liabilities
  </div>
  <% @liabilities.each do |debt| %>
    <article class="book">
      <div class='p'><%= debt.nickname %>  $<%= debt.current_balance %></div>
    </article>
    <br>
  <% end %>
  <div class="h2">
    <hr>
    Total: $<%= @total_liabilities %>
  </div>
</div>

<br>

<div class="account-group">
  <div class='h2'>
    Equities
  </div>
  <% @equities.each do |equity| %>
    <article class="book">
      <div class='p'><%= equity.nickname %>  $<%= equity.current_balance %></div>
    </article>
    <br>
  <% end %>
  <div class="h2">
    <hr>
    Total: $<%= @equities_balance %>
  </div>
</div>
<hr>
<div class="account-group">
  <div class="h2">
    Total Assets $<%= @asset_balance %>
  </div>
  <p>
    Net Worth $<%= @equities_balance - @total_liabilities %>
  </p>
</div>
