<header>
  <nav class='new-items'>
    <h2>add a...</h2>
    <ul>
      <li><%= link_to 'book', new_book_path %></li>
      <li><%= link_to 'expense', '' %></li>
      <li><%= link_to 'equity', '' %></li>
      <li><%= link_to 'liability', '' %></li>
      <li><%= link_to 'note', '' %></li>
      <li><%= link_to 'contact', '' %></li>
      <li><%= link_to 'task', '' %></li>
      <li><%= link_to 'transaction', '' %></li>
      <li><%= link_to 'transfer', '' %></li>
      <li><%= link_to 'vendor', '' %></li>
    </ul>
  </nav>
</header>
