<p id="notice"><%= notice %></p>

<h1 class="h1">Books</h1>

<% @books.each do |book| %>
  <article class="list-view">
    <div class="tag"><%= link_to book.tag %></div>
    <div class="h1"><%= link_to book.name, book %></div>
    <div class="p"><%= book.note %></div>
    <div class="h2"><%= pluralize(book.expenses.count, 'expense') %></div>
  </article>
<% end %>
