<p id="notice"><%= notice %></p>

<section class='show'>
  <div class="tag">
    <%= link_to @book.tag %>
  </div>
  <div class='h1'><%= @book.name %></div>
  <span class='edit-btn'><%= link_to 'edit', edit_book_path(@book) %></span>
  <p><%= @book.note %></p>
</section>

<div class="h2">
  Expenses
</div>
