<div class="h2">Equities</div>
<br>

<% @equities.each do |equity| %>
  <article class="list-view">
    <div class="h1">
      <%= link_to equity.nickname, equity %>
    </div>
    <div class="p">Balance $<%= equity.current_balance %> </div>
    <% if equity.streams.count > 0 %>
    <div class="p"><%= pluralize(equity.streams.count, 'stream') %> for <%= stream_sum(equity) %> at <%= stream_sum(equity) * 12 %> yr.</div>
    <% end %>
  </article>
<% end %>

<br>
<div class="h2">
  Total equities $<%= @total %>
</div>
