<p id="notice"><%= notice %></p>

<section class='show'>
  <div class='h1'><%= @equity.nickname %></div>
  <span class='edit-btn'><%= link_to 'edit', edit_equity_path(@equity) %>
  | <%= link_to 'delete', @equity, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <p><%= @equity.current_balance %></p>
</section>

<div class="h2">
  Transaction history
</div>
