<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @preference.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @preference.user_id %>
</p>

<p>
  <strong>Delete account:</strong>
  <%= @preference.delete_account %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
