<%= form_for(@spend) do |f| %>
  <% if @spend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spend.errors.count, "error") %> prohibited this spend from being saved:</h2>

      <ul>
      <% @spend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vendor_id %><br>
    <%= collection_select( :equity, :vendor_id, Vendor.all, :id, :name, {} ) -%>
    <%= link_to 'add new vendor', new_vendor_path, target: "_blank" -%>
  </div>

  <div class="field">
    <%= f.label :equity_id %><br>
    <%= collection_select( :equity, :equity_id, Equity.all, :id, :nickname, {} ) -%>
  </div>
  
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :expense_id %><br>
    <%= collection_select( :equity, :expense_id, Expense.all, :id, :name, {} ) -%>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
