<p id="notice"><%= notice %></p>

<p>
  <strong>Equity:</strong>
  <%= @transaction.equity_id %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @transaction.vendor_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @transaction.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user_id %>
</p>

<p>
  <strong>Family:</strong>
  <%= @transaction.family_id %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
