<p id="notice"><%= notice %></p>

<h1>Listing Budget Cateogries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th>Note</th>
      <th>User</th>
      <th>Family</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_cateogries.each do |budget_cateogry| %>
      <tr>
        <td><%= budget_cateogry.name %></td>
        <td><%= budget_cateogry.tag %></td>
        <td><%= budget_cateogry.note %></td>
        <td><%= budget_cateogry.user_id %></td>
        <td><%= budget_cateogry.family_id %></td>
        <td><%= link_to 'Show', budget_cateogry %></td>
        <td><%= link_to 'Edit', edit_budget_cateogry_path(budget_cateogry) %></td>
        <td><%= link_to 'Destroy', budget_cateogry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget cateogry', new_budget_cateogry_path %>
