<!DOCTYPE html>
<html>
<head>
  <title>Lettucebooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <li><%= link_to 'home', root_path %></li>
  <% if signed_in? %>
    Hello, <%= current_user.setting.try(:name) || "friend!" %>
    <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <li><%= link_to 'settings', settings_path %></li>
    <li><%= link_to 'notes', notes_path %></li>
    <li><%= link_to 'tasks', tasks_path %></li>
  <% else %>
    <%= link_to 'Sign in', sign_in_path %>
  <% end %>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

<section class='content'>
  <header>
    <nav class="main-nav">
      <h2>Actions</h2>
      <ul>
        <li><%= link_to 'spend', new_spend_path %></li>
        <li><%= link_to 'transfer', new_transfer_path %></li>
        <li><%= link_to 'fund', new_fund_path %></li>
      </ul>
    </nav>
    <nav class='new-items'>
      <h2>Accounts</h2>
      <ul>
        <li>
          <%= link_to 'equities', equities_path %> |
          <%= link_to 'new', new_equity_path %>
        </li>
        <li>
          <%= link_to 'books', books_path %> |
          <%= link_to 'new', new_book_path %>
         </li>
        <li>
          <%= link_to 'liabilities', liabilities_path %> |
          <%= link_to 'new', new_liability_path %>
         </li>
      </ul>
      <h2>Statements</h2>
      <ul>
        <li>
          <%= link_to 'profit and loss', profit_loss_statements_path %>
        </li>
      </ul>
      <h2>Receipts</h2>
      <ul>
        <li>
          <%= link_to 'spent', spends_path %>
        </li>
        <li>
          <%= link_to 'funded', funds_path %>
        </li>
        <li>
          <%= link_to 'transfered', transfers_path %>
        </li>
      </ul>
      <h2>Overviews</h2>
      <ul>
        <li>
          <%= link_to 'vendors', vendors_path %> |
          <%= link_to 'new', new_vendor_path %>
        </li>
        <li>
          <%= link_to 'family' %> |
          <%= link_to 'invite' %>
        </li>
        <li>
          <%= link_to 'expenses' %> |
          <%= link_to 'new' %>
        </li>
        <li>
          <%= link_to 'streams', streams_path %> |
          <%= link_to 'new', new_stream_path %>
        </li>
        <li>
          <%= link_to 'auto allocations' %>
        </li>
      </ul>
      <h2>Recent pages</h2>
      <ul>
        <li>
          <%= link_to 'vendors', vendors_path %>
        </li>
        <li>
          <%= link_to 'costco' %>
        </li>
        <li>
          <%= link_to 'living social' %>
        </li>
      </ul>
    </nav>
  </header>
  <article class='main-content'>
    <%= yield %>
  </article>
</section>

</body>
</html>
