<!DOCTYPE html>
<html>
<head>
  <title>Lettucebooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    Hello, <%= current_user.setting.try(:name) || "friend!" %>
    <%= button_to 'Sign out', sign_out_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', sign_in_path %>
  <% end %>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

<section class='content'>
  <header>
    <nav class="main-nav">
      <ul>
        <li><%= link_to 'home', root_path %></li>
        <li><%= link_to 'account', settings_path %></li>
        <li><%= link_to 'notes', notes_path %></li>
        <li><%= link_to 'tasks', tasks_path %></li>
      </ul>
    </nav>
    <nav class='new-items'>
      <h2>Accounts</h2>
      <ul>
        <li>
          <%= link_to 'new book', new_book_path %>
          | <%= link_to 'all books', books_path %>
         </li>
        <li>
          <%= link_to 'new equity', new_equity_path %>
          | <%= link_to 'all equities', equities_path %>
         </li>
        <li>
          <%= link_to 'new liability', new_liability_path %>
          | <%= link_to 'all liabilities', liabilities_path %>
         </li>
      </ul>
      <h2>Actions</h2>
      <ul>
        <li>
          <%= link_to 'spend', new_spend_path %>
          | <%= link_to 'receipts', spends_path %>
        </li>
        <li>
          <%= link_to 'fund', new_fund_path %>
          | <%= link_to 'fund history', funds_path %>
        </li>
        <li>
          <%= link_to 'transfer', new_transfer_path %>
          | <%= link_to 'transfer history', transfers_path %>
        </li>
        <li>
          <%= link_to 'new vendor', new_vendor_path %>
          | <%= link_to 'all vendors', vendors_path %>
        </li>
      </ul>
    </nav>
  </header>
  <article class='main-content'>
    <%= yield %>
  </article>
</section>

</body>
</html>
